<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Test</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-blue-50 flex items-center flex-col justify-center min-h-screen overflow-hidden">
  <div class="flex justify-center items-center my-10">
    <h2 class="bg-gradient-to-tr from-blue-400 to-blue-500 shadow px-3 py-1 rounded-md text-white"> ✅ Site is up and running</h2>
  </div>
  <div class="text-center">
    <a href="/auth/register">
      <button class="bg-gradient-to-tr from-blue-400 to-blue-500 shadow px-3 py-1 rounded-md cursor-pointer text-white hover:scale-110 active:scale:95 transition-all transition-duration-300">Register</button>
    </a>
    <a href="/auth/login">
      <button class="bg-gradient-to-tr from-blue-400 to-blue-500 shadow px-3 py-1 rounded-md cursor-pointer text-white hover:scale-110 active:scale:95 transition-all transition-duration-300">Login</button>
    </a>
    <a href="/users/profile">
      <button class="bg-gradient-to-tr from-blue-400 to-blue-500 shadow px-3 py-1 rounded-md cursor-pointer text-white hover:scale-110 active:scale:95 transition-all transition-duration-300">User profile</button>
    </a>
  </div>
</body>

</html>