<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-blue-50 flex items-center flex-col justify-center overflow-hidden">
    <header class="flex justify-center mb-15">
    <nav class="flex gap-3">
        <a class="mt-6 w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg transition px-5 cursor-pointer" href="/">
          <p>Home</p>
        </a>
        <a class="mt-6 w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg transition px-5 cursor-pointer" href="/auth/register">
          <p>Register</p>
        </a>
        <a class="mt-6 w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg transition px-5 cursor-pointer" href="/auth/register">
          <p>Login</p>
        </a>
        <a class="mt-6 w-full bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg transition px-5 cursor-pointer" href="/users/profile">
          <p>Profile</p>
        </a>
    </nav>
  </header>
  <h2 class="text-center text-3xl font-bold">Create an Account</h2>
  <div class="w-full min-h-screenpt-50 mt-30 flex justify-center">
    <form action="register" method="post" class="flex flex-col gap-3 items-center p-8 shadow rounded-2xl border-blue-100 justify-center bg-white">
      <div>
        <input class="bg-blue-50 outline-none px-3 border-2 border-blue-100 py-1 rounded-md" type="text"
          name="username" placeholder="Enter your username">
      </div>
      <div>
        <input class="bg-blue-50 outline-none px-3 border-2 border-blue-100 py-1 rounded-md" type="text" name="name"
          placeholder="Enter display username">
      </div>
      <div>
        <input class="bg-blue-50 outline-none px-3 border-2 border-blue-100 py-1 rounded-md" type="email" name="email"
          placeholder="Enter email">
      </div>
      <div>
        <input class="bg-blue-50 outline-none px-3 border-2 border-blue-100 py-1 rounded-md" type="number" name="age"
          placeholder="Enter your age">
      </div>
      <div>
        <input class="bg-blue-50 outline-none px-3 border-2 border-blue-100 py-1 rounded-md" type="password"
          name="password" placeholder="Enter password">
      </div>
      <div>
        <button type="submit"
          class="bg-gradient-to-tr from-blue-500 to-blue-400 shadow px-3 py-1 rounded-md cursor-pointer text-white hover:scale-110 active:scale:95 transition-all transition-duration-300">Register</button>
      </div>
      <div class="flex flex-col items-center justify-center gap-3 mt-15">
        <p>Already registerd? Login instead</p>
        <a href="login"
          class="bg-gradient-to-tr from-blue-400 to-blue-500 shadow px-3 py-1 rounded-md cursor-pointer text-white hover:scale-110 active:scale:95 transition-all transition-duration-300">Login</a>
      </div>
  </form>
  </div>
</body>

</html>